BASIC_TO_ADVANCE....INTERNSOFT......
DAY 1--PYTHON NOTEBOOK 1

TYPE():  USING type() FUNC. TO FIND THE  DATATYPES IN PYTHON...

In [ ]:
# integers
#skjcnskjfnk
print("12345678910111213")
print(12345678910111213)
# integers
#skjcnskjfnk
q=1234567
print(type(q))

12345678910111213
12345678910111213
<class 'int'>

In [ ]:
# float
a=90.00
print("float:",a)
#########################
# float
a=90.00
b=type(a)
print("float:",a)
print(b)

float: 90.0
float: 90.0
<class 'float'>

In [ ]:
#boolean
a=True #true shd always start with capital 'T'.
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

STRINGS: diff. ways of printing output to user...

In [ ]:
#string
a='deric is eating'
b="eric is eating"
c="""hello"""  #mostly used for parahs...
#print(c)
d="""CMR University aims to promote and undertake the advancement of university education across a plethora
           of disciplines viz architecture, design, engineering, law, management,
                      economics & commerce, social sciences & humanities,education, and science studies.
    The University also aims to equip students with the required skills and knowledge
                to pursue a successful career in their chosen field of study.                    """

'''note the ("""...""") triple quotes in the variable 'd' is like the <pre> tag in html,
 that prints the exact same format of the txt withen the <pre> tag'''
print(a)
print(b)
print(c)
print(d)

deric is eating
eric is eating
hello
CMR University aims to promote and undertake the advancement of university education across a plethora
           of disciplines viz architecture, design, engineering, law, management,
                      economics & commerce, social sciences & humanities,education, and science studies.
    The University also aims to equip students with the required skills and knowledge
                to pursue a successful career in their chosen field of study.

VARIABLES............

In [ ]:
T=10
TWO=2
T
TWO

2

In [ ]:
T=10
TWO=2
print(TWO)
T

2

10

In [ ]:
#dynamic typing......
ten=10
print(ten)
ten="john"
print(ten)
ten

10
john

'john'

In [ ]:
#STRONG TYPING...
'Day'+'1'
"hello"+"bro"
"hello"+"  bro !!!!!"
print('Day'+'1')
print("hello"+"bro")
print("hello"+"  bro !!!!!")

Day1
hellobro
hello  bro !!!!!

In [ ]:
#SIMPLE EXPRESSIONS...
#BOOLEAN EVALUATION....

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
True is False

False

In [ ]:
True is True

True

In [ ]:
False is False

True

In [ ]:
False is True

False

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
'r' is 'r'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-15-180bfc33a094>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'r' is 'r'

True


DECISION MAKING STMTS....

In [ ]:
print("non-user defined number....")
i=3
if i<3:
  print('less than 3')
elif i<5:
  print('less than 5')
else:
  print('5 or more')

non-user defined number....
less than 5

In [ ]:
print("non-user defined number....")
i=5
if i<3:
  print('less than 3')
elif i<5:
  print('less than 5')
else:
  print('5 or more')

non-user defined number....
5 or more

In [ ]:
print("user defined number....")
i=int(input("enter a number:"))
if i<3:
  print('less than 3')
elif i<5:
  print('less than 5')
else:
  print('5 or more')

enter a number:12
5 or more

LISTS...

In [ ]:
L=[]
L

[]

In [ ]:
l=list()
l

[]

In [ ]:
l=[a,b,c]
l

['deric is eating', 'eric is eating', 'hello']

In [ ]:
l1=['g','k','j']
l1

['g', 'k', 'j']

In [ ]:
l=['g',6]
l

['g', 6]

In [ ]:
l2=list(l)
l2

['g', 6]

additional way of creating list.....

In [ ]:
list('abcdefghijk')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
l = ['1','c']
l.append('1')
l.append('b')
print(l)
l.insert(0,45)
l

['1', 'c', '1', 'b']

[45, '1', 'c', '1', 'b']

LOOPS:FOR & WHILE.

calling list elements using for loop...

In [ ]:
l=[1,2,3,4,5,6,7]
for i in l:
  print(i)

1
2
3
4
5
6
7

In [ ]:
#for....loop....
#for loop with simple if....
n=[11,22,33,44,55,66,77]

sum=0
for i in n:
  sum+=i
print("sum=",sum)

sum= 308

In [ ]:
#for....loop....
#for loop with else....
d=[0,1,9,0,7,3,5]
for i in d:
    print(i)
else:
    print("no items left...")

0
1
9
0
7
3
5
no items left...

In [ ]:
#for....loop....
#for loop with else....
d=[0,1,9,0,7,3,5]
d=[]
for i in d:
  print(i)
else:
  print("no items left...")

no items left...

In [ ]:
n=int(input("enter n: "))
s=0
i=1
while i<=n:
  s+=i
  i+=i
print("sum = ",s)

enter n: 2
sum =  3

RANGE FUNC()

In [ ]:
#range...
print(range(10))

range(0, 10)

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [ ]:
print(list(range(2,8,2)))

[2, 4, 6]

NESTED FOR()

In [4]:
g=['pop','rock','jam','cheese']
h=['j','a','m']
for i in range(len(g)):
  print("I Like ",g[i])
  for i in range(len(h)):
    print("I Hate ",h[i])
print('....done....')

I Like  pop
I Hate  j
I Hate  a
I Hate  m
I Like  rock
I Hate  j
I Hate  a
I Hate  m
I Like  jam
I Hate  j
I Hate  a
I Hate  m
I Like  cheese
I Hate  j
I Hate  a
I Hate  m
....done....

FOR(): WITH SIMPLE IF AND USING BREAK AND CONTINUE...

> Add blockquote

In [ ]:
for v in "HARSHITHA":
  if v== "i":
    print(v)
    break
    print("invalid..")
print("...done...")

...done...

In [ ]:
for v in "HARSHITHA":
  if v== "I":
    print(v)
    break
    print("invalid..")
print("...done...")

I
...done...

In [ ]:
for v in "HARSHITHA":
  if v == "I":
    continue
  print(v)#removes I and prints rest...

print("...done...")

H
A
R
S
H
T
H
A
...done...

STRINGS....(i/p and o/p):

In [ ]:
name=input("enter name: ")
print(name)
type(name)

enter name: eric
eric

str

In [ ]:
age=input("enter age: ")#used to take input from user...
print("age=",age)#print the output for user..

type(age)

enter age: 22
age= 22

str

In [ ]:
age=int(input("enter age: "))
print("age=",age)
print(age+1)
type(age)

enter age: 22
age= 22
23

int

In [6]:
name=input("System:whats ur name? ")
print("it was nice talking to u ..",name,"!!!!!!!!!!!!!!!!!")
age=int(input("whats ur  age: "))
print("hey u r already,..",age,"yrs old!,",name)
n=input("user: ")
print(n)
print("I am 3 years old...",name)

System:whats ur name? ric
it was nice talking to u .. ric !!!!!!!!!!!!!!!!!
whats ur  age: 21
hey u r already,.. 21 yrs old!, ric
user: how old r u?
how old r u?
I am 3 years old... ric

DAY 1___DONE>>>>>>>>>>>>>>>>>